#box
    h2 
        | Waaaa!!! 
        | <strong id="total">#{total}</strong>
    ul#list
        - each cost in costs
            - if (cost.col1>0)
                li
                  | <span>#{cost.col0.split(' ')[0]}</span>
                  | <strong>#{cost.col1}</strong>

    #space
    input#cost
    input(id="add", type="button", value='add')

script
    $('#add').click(function() {
        var 
        c = $('#cost'),
        t = $('#total'),
        v = c.val(),
        tv = +t.html();

        if (v === '') {
            alert('hey!!!');    
            return false;
        }

        $.post('/add', {v: v, t: tv}, function($data) {
            if ($data === 'no') {
                alert('没钱啦！！！');    
            } else {
                if ($data) {
                    t.html(tv+ (+v));    
                } else {
                    $('#list').append('<li><span>just added</span><strong>'+ v +'</strong></li>');    
                    t.html(tv-v);    
                }
            }
            c.val('');    
            
        });

    }); 

